einops==0.8.0
imageio==2.34.1
imageio-ffmpeg==0.4.9
librosa==0.8.0
mmcv==1.7.0
moviepy==1.0.3
numpy==1.22.0
omegaconf==2.3.0
pytorch-lightning==1.4.2
torch==2.0.0
torchaudio==2.0.1
torchdyn==1.0.6
torchlibrosa==0.1.0
torchmetrics==0.5.0
tqdm
wandb==0.16.6